<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

<md-card>
    <md-card-title><span i18n>Users</span></md-card-title>
    <md-card-content *ngIf="!loading">

        <md-card *ngFor="let user of selectedUsers" class="msc-v-margin">
            <md-card-header>
                <md-card-title>{{user.name}}</md-card-title>
                <md-card-subtitle>
                    <span>{{user.realname}}</span>
                </md-card-subtitle>
            </md-card-header>

            <md-card-content #actions>
                <div class="row">
                    <button md-button (click)="actions.__open = !actions.__open">
                        <md-icon class="msc-icon-middle" *ngIf="!actions.__open">keyboard_arrow_right</md-icon>
                        <md-icon class="msc-icon-middle" *ngIf="actions.__open">keyboard_arrow_down</md-icon>
                        <span i18n>Address</span>
                    </button>
                    <button md-button [routerLink]="['/orders']" [queryParams]="{ user: user.name }">
                        Orders
                    </button>
                    <button md-mini-fab color="accent" [routerLink]="['/profile', user.name]">
                        <md-icon>edit</md-icon>
                    </button>
                </div>
                <div *ngIf="actions.__open">
                    <div class="row" *ngFor="let addr of user.address">
                        <app-address-read-block [address]="addr"></app-address-read-block>
                    </div>
                </div>
            </md-card-content>
        </md-card>

    </md-card-content>
</md-card>