<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

<md-card>
    <md-card-title><span i18n>Orders</span></md-card-title>
    <div>
        <button md-raised-button
                *ngFor="let s of statusList"
                [disabled]="loading"
                (click)=changeFilterStatus(s)
                class="msc-button-margin"
                [class.md-primary]="s === filterQueryActive.status">{{getStatusName(s)}}
        </button>
        <!--<button md-icon-button (click)="refresh()" [disabled]="loading">-->
            <!--<md-icon>refresh</md-icon>-->
        <!--</button>-->
    </div>
    <md-input #term (keyup)="changeName(term.value)" [ngModel]="modelUser" placeholder="User name"
              *ngIf="isAdmin"
              class="msc-full-width"></md-input>

    <md-card-content *ngIf="!loading && !orders.length">
        <p i18n>No orders</p>
    </md-card-content>
    <md-card-content *ngIf="orders.length">
        <md-card *ngFor="let order of orders" class="msc-v-margin" #orderc>
            <md-card-header>
                <md-card-title>{{getTitle(order)}}</md-card-title>
                <md-card-subtitle>
                    <span *ngIf="isAdmin">{{ order.authorName }}</span>
                    <span>{{ order.uuid }}</span></md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <div class="row">
                    <div class="col-xs">
                        <p><span i18n>Order date</span>: {{getReadableTime(order)}}</p>
                        <p><span i18n>Price</span>: {{order.totalPrice}} Rub</p>
                    </div>
                    <div class="col-xs" *ngIf="isAdmin">
                        <button md-mini-fab
                                color="accent"
                                [routerLink]="['/cart',order.uuid]">
                            <md-icon>mode_edit</md-icon>
                        </button>
                        <button md-mini-fab
                                color="warn"
                                [disabled]="isActive(order)"
                                (click)="delete(order, orderc)">
                            <md-icon *ngIf="!isActive(order)">remove</md-icon>
                            <md-icon *ngIf="isActive(order)">done</md-icon>
                        </button>
                        <button md-mini-fab
                                color="accent"
                                [routerLink]="[order.uuid,'messages']">
                            <md-icon>message</md-icon>
                        </button>
                        <!--<button  md-mini-fab color="accent" (click)="preview(order)">-->
                        <!--<md-icon>visibility</md-icon>-->
                        <!--</button>-->
                    </div>
                    <div class="col-xs">
                        <section><span i18n>Status</span>: <b>{{getStatusName(order.status)}}</b></section>
                        <button md-raised-button
                                class="msc-button-margin"
                                *ngFor="let s of getPossibleStatuses(order)"
                                (click)="changeOrderStatus(order, s, orderc)">
                            {{getStatusActionName(s)}}
                        </button>
                    </div>
                </div>
            </md-card-content>
            <md-card-content #actions *ngIf="order.details?.address">
                <div class="row">
                    <button md-button (click)="actions.__open = !actions.__open">
                        <md-icon class="msc-icon-middle" *ngIf="!actions.__open">keyboard_arrow_right</md-icon>
                        <md-icon class="msc-icon-middle" *ngIf="actions.__open">keyboard_arrow_down</md-icon>
                        <span i18n>Address</span>
                    </button>
                </div>
                <div class="row" *ngIf="actions.__open">
                    <app-address-read-block [address]="order.details?.address"></app-address-read-block>
                </div>
            </md-card-content>
            <md-progress-bar mode="indeterminate" *ngIf="orderc.__loading"></md-progress-bar>
        </md-card>
    </md-card-content>

</md-card>