<form (ngSubmit)="save()" #addressForm="ngForm">

    <div class="form-group">
        <md-input required name="fullname" [(ngModel)]="address.fullname" [disabled]="!editable"
                  placeholder="{{'Full Name' | i18n}}"></md-input>
        <!--<div  *ngIf="form.controls.fullname.touched && form.controls.fullname.errors">-->
        <!--<div *ngIf="form.controls.fullname.hasError('required')">-->
        <!--FIO is required.-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <md-input required name="zip" [(ngModel)]="address.zip" [disabled]="!editable" allow-numbers
                  placeholder="{{'Zip' | i18n}}"></md-input>
        <!--<div  *ngIf="form.controls.zip.touched && form.controls.zip.errors">-->
        <!--<div *ngIf="form.controls.zip.hasError('required')">-->
        <!--Zip is required.-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <md-input required name="city" [(ngModel)]="address.city" [disabled]="!editable" placeholder="{{'City' | i18n }}"></md-input>
        <!--<div *ngIf="form.controls.city.touched && form.controls.city.errors">-->
        <!--<div *ngIf="form.controls.city.hasError('required')">-->
        <!--city is required.-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <md-input required name="address" [(ngModel)]="address.address" [disabled]="!editable"
                  placeholder="{{'Address' | i18n}}"></md-input>
        <!--<div  *ngIf="form.controls.address.touched && form.controls.address.errors">-->
        <!--<div *ngIf="form.controls.address.hasError('required')">-->
        <!--address is required.-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <md-input name="address2" [(ngModel)]="address.address2" [disabled]="!editable"
                  placeholder="{{'Address 2' | i18n }}"></md-input>
        <!--<div  *ngIf="form.controls.address2.touched && form.controls.address2.errors">-->
        <!--<div *ngIf="form.controls.address2.hasError('required')">-->
        <!--address2 is required.-->
        <!--</div>-->
        <!--</div>-->
    </div>


    <div class="form-group" *ngIf="addressDefaultShowCheckbox">
        <md-checkbox [(ngModel)]="address.default" aria-label="Default address"
                     [disabled]="!editable || !addressDefaultEditable" name="cb">
            <span i18n>Use this address as default</span>
        </md-checkbox>
    </div>

    <div layout="row" *ngIf="editable">
        <button md-raised-button class="md-raised md-primary" type="submit" [disabled]="!addressForm.form.valid">
            <span i18n>Save</span>
        </button>
        <button md-button class="md-raised" (click)="cancel()">
            <span i18n>Cancel</span>
        </button>
    </div>
</form>
