<form [formGroup]="form" (ngSubmit)="register()">

    <div class="form-group">
        <md-input required lowercase
                  formControlName="name"
                  autocomplete="off"
                  placeholder="Email"></md-input>
        <div *ngIf="form.controls.name.touched && form.controls.name.errors">
            <div i18n *ngIf="form.controls.name.hasError('required')">
                Email is required.
            </div>
            <div i18n *ngIf="form.controls.name.hasError('exists')">
                Email already exists
            </div>
            <div i18n *ngIf="form.controls.name.hasError('validateEmail')">
                Invalid email
            </div>
        </div>
    </div>

    <div class="form-group">
        <md-input required
                  formControlName="realname"
                  autocomplete="off"
                  placeholder="{{'Full Name' | i18n}}"></md-input>
        <div *ngIf="form.controls.realname.touched && form.controls.realname.errors">
            <div *ngIf="form.controls.realname.hasError('required')">
                Full Name is required.
            </div>
        </div>
    </div>

    <div class="form-group">
        <md-input required
                  formControlName="linkVk"
                  autocomplete="off"
                  placeholder="{{'VK link' | i18n}}"></md-input>
        <div *ngIf="form.controls.linkVk.touched && form.controls.linkVk.errors">
            <div *ngIf="form.controls.linkVk.hasError('required')">
                VK link is required.
            </div>
        </div>
    </div>

    <div formGroupName="passwordGroup">

        <div class="form-group">
            <md-input required
                      formControlName="password"
                      autocomplete="off"
                      type="password"
                      placeholder="{{'Password' | i18n}}"></md-input>
            <div *ngIf="form.controls.passwordGroup.controls.password.touched && form.controls.passwordGroup.controls.password.errors">
                <div i18n *ngIf="form.controls.passwordGroup.controls.password.hasError('required')">
                    Password is required.
                </div>
                <div i18n *ngIf="form.controls.passwordGroup.controls.password.hasError('minlength')">
                    Password is too short.
                </div>
            </div>
        </div>

        <div class="form-group">
            <md-input required
                      formControlName="password2"
                      autocomplete="off"
                      type="password"
                      placeholder="Repeat password"></md-input>
            <div *ngIf="form.controls.passwordGroup.controls.password2.touched && form.controls.passwordGroup.controls.password2.errors">
                <div i18n *ngIf="form.controls.passwordGroup.controls.password2.hasError('required')">
                    Password is required.
                </div>
                <div i18n *ngIf="form.controls.passwordGroup.controls.password2.hasError('notEquivalent')">
                    Passwords should match.
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div *ngIf="!loading">
            <button md-raised-button class="md-raised md-primary" type="submit" [disabled]="!form.valid">
                <span i18n>Register</span>
            </button>
        </div>
    </div>
    <md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>
</form>