<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

<md-card>
    <md-card-title><span i18n>Cart</span></md-card-title>
    <md-card-subtitle>Id: {{cartUuid}}</md-card-subtitle>

    <md-card-content>
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item *ngFor="let item of cart.getOrder().asList">
                        <img md-list-avatar [src]="item.product.image" [alt]="item.product.name">
                        <h3 md-line> {{item.product.name}} (x{{item.amount}})</h3>
                        <p md-line><span i18n>Price</span>: <b>{{item.product.price * item.amount}}</b> Rub</p>
                        <p md-line>
                            <span><span i18n>Color</span>: </span>
                            <span *ngFor="let attr of listAttributes(item)">
                        <span>{{attr.attribute.readableName}}: <b>{{attr.value}}</b></span>
                    </span>
                        </p>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-content>
                <p><span i18n>Total Price</span>: <b>{{totalCost}}</b> Rub</p>
            </md-card-content>
        </md-card>
    </md-card-content>

    <md-card-title><span i18n>Address</span></md-card-title>

    <md-card-content>
        <!-- Add address button-->
        <button md-raised-button color="primary" *ngIf="addresses.length < 1 && !add_address && !custom_address" (click)="add_address = true">
            <span i18n>Add new address</span>
        </button>

        <!-- User addresses-->
        <div class="row">
            <div *ngFor="let item of addresses; let index = index"
                 class="col-xs-12
                        col-sm-6
                        col-md-4
                        col-lg-3">
                <md-card (click)="address = item">
                    <md-card-title>
                        #{{index + 1}} {{item.fullname}}
                    </md-card-title>
                    <md-card-content>
                        <p>{{item}}</p>
                    </md-card-content>
                    <md-card-actions>
                        <md-radio-button [checked]="item == address" [disabled]="loading">
                            <span *ngIf="item == address" i18n> Item will be shipped to this address </span>
                            <span *ngIf="item != address" i18n=""> Ship to this address </span>
                        </md-radio-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

        <!-- Custom address-->
        <div class="row" *ngIf="custom_address">
            <div class="col-xs-12">
                <md-card>
                    <md-card-title>
                        {{custom_address.fullname}}
                    </md-card-title>
                    <md-card-content>
                        <p>{{custom_address}}</p>
                    </md-card-content>
                    <md-card-actions>
                        <md-radio-button [checked]="true" [disabled]="true">
                            <span i18n>Item will be shipped to this address</span>
                        </md-radio-button>
                    </md-card-actions>
                    <md-card-actions>
                        <button md-raised-button (click)="deleteCustomAddress()" color="warn">
                            <span i18n>Remove</span>
                        </button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

        <!-- Adding address block-->
        <md-card *ngIf="add_address" class="msc-v-margin">
            <md-card-header>
                <md-card-title>{{"Add new address"| i18n}}</md-card-title>
            </md-card-header>
            <md-card-content>
                <app-address-block
                        [addressDefaultShowCheckbox]="false"
                        (saved)="addCustomAddress($event)"
                        (canceled)="add_address = false">
                </app-address-block>
            </md-card-content>
            <md-card-content *ngIf="!isAdmin">
                <span i18n>Hint: you can save address for future use in your Profile. Go to the</span> <a routerLink="/profile/me" i18n>Profile</a>.
            </md-card-content>
        </md-card>
    </md-card-content>

    <md-card-content *ngIf="isAdmin">
        <md-card>
            <md-card-title><span i18n>Order Name</span></md-card-title>
            <md-card-content>
                <md-input [(ngModel)]="name" autocomplete="off" placeholder="Order Name" [disabled]="loading"
                          class="msc-full-width"></md-input>
            </md-card-content>
        </md-card>
    </md-card-content>

    <md-card-actions>
        <button md-raised-button [routerLink]="['/cart', cartUuid]" [disabled]="loading">
             <span i18n>Back</span>
        </button>
        <button md-raised-button color="primary"
                [disabled]="loading || !address"
                (click)="confirm()">
            <span i18n>Confirm order</span>
        </button>
    </md-card-actions>
</md-card>

