<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

<md-card *ngIf="!loading">
    <md-card-title><span i18n>Edit product</span></md-card-title>
    <md-card-content>


        <form [formGroup]="form" (ngSubmit)="save()">
            <h4>Id: {{product.id}}</h4>
            <div class="row">
                <md-input formControlName="name" id="name" autocomplete="off" placeholder="Name" required
                          class="msc-full-width"></md-input>
                <div *ngIf="form.controls.name.errors && form.controls.name.touched">
                    <div *ngIf="form.controls.name.hasError('required')">
                        Name is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <md-input uppercase formControlName="sku" id="sku" autocomplete="off" placeholder="Sku"
                          class="msc-full-width" required>
                    <md-hint align="end"
                             *ngIf="form.controls.sku.value && form.controls.sku.dirty && skuSuggest.length">
                        Exists:<span *ngFor="let s of skuSuggest"> {{s}}</span>
                    </md-hint>
                </md-input>
                <div *ngIf="form.controls.sku.errors && form.controls.sku.touched">
                    <div *ngIf="form.controls.sku.hasError('required')">
                        Sku is required.
                    </div>
                    <div *ngIf="form.controls.sku.hasError('occupied')">
                        Sku is already occupied.
                    </div>
                </div>
            </div>
            <div class="row">
                <md-input allow-numbers formControlName="price" id="price" autocomplete="off" placeholder="Price"
                          required>
                    <span md-prefix>Rub&nbsp;</span>
                    <span md-suffix>.00</span>
                </md-input>
                <div *ngIf="form.controls.price.errors && form.controls.price.touched">
                    <div *ngIf="form.controls.price.hasError('required')">
                        Price is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <h4 i18n>Category</h4>
            </div>
            <div class="row">
                <!--<select formControlName="category" required>-->
                    <!--<option disabled>Category</option>-->
                    <!--<option *ngFor="let c of catList" [value]="c.key">{{c.name}} | {{c.codes.join(", ")}}</option>-->
                <!--</select>-->
                <!--<div *ngIf="form.controls.category.errors && form.controls.category.touched">-->
                    <!--<div *ngIf="form.controls.category.hasError('required')">-->
                        <!--Category is required.-->
                    <!--</div>-->
                <!--</div>-->
                <md-list>
                    <md-list-item *ngFor="let cat of form.controls.categories.controls; let i = index">

                        <select [formControl]="cat" required>
                            <option disabled>Category</option>
                            <option *ngFor="let c of catList" [value]="c.key">{{c.name}} | {{c.codes.join(", ")}}</option>
                        </select>
                        <div *ngIf="cat.errors && cat.touched">
                            <div *ngIf="cat.hasError('required')">
                                Category is required.
                            </div>
                        </div>
                        <button md-mini-fab
                                color="primary"
                                (click)="deleteCategory($event, i)">
                            <md-icon>delete_forever</md-icon>
                        </button>
                    </md-list-item>
                    <md-list-item>
                        <button md-raised-button
                                color="primary"
                                (click)="addCategory($event)">
                            Add category
                        </button>
                    </md-list-item>
                </md-list>
            </div>

            <div class="row">
                <md-input formControlName="image" id="image" autocomplete="off" placeholder="Image"
                          class="msc-full-width"></md-input>
                <div *ngIf="form.controls.image.errors && form.controls.image.touched">
                    <div *ngIf="form.controls.image.hasError('required')">
                        Image is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <h4 i18n>Description</h4>
            </div>
            <div class="row">
                <textarea md-input formControlName="description" placeholder="Description"></textarea>
                <div *ngIf="form.controls.description.errors && form.controls.description.touched">
                    <div *ngIf="form.controls.description.hasError('required')">
                        Description is required.
                    </div>
                </div>
            </div>

            <h3>Attributes (color)</h3>

            <div class="row">
                <div class="col-xs">
                    <md-card>
                        <md-card-actions>
                            <md-radio-button [value]="false"
                                             [checked]="!useCustomAttributes"
                                             (change)="setUseCustomAttributes($event.value)">
                                Use default attributes
                            </md-radio-button>
                        </md-card-actions>
                        <md-card-content>
                            <md-list>
                                <md-list-item *ngFor="let attr of attributesDefault.controls; let i = index">
                                    <md-input [formControl]="attr" placeholder="Color" disabled
                                              class="msc-disabled"></md-input>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>

                </div>
                <div class="col-xs">
                    <md-card>
                        <md-card-actions>
                            <md-radio-button [value]="true"
                                             [checked]="useCustomAttributes"
                                             (change)="setUseCustomAttributes($event.value)">
                                Use custom attributes
                            </md-radio-button>
                        </md-card-actions>
                        <md-card-content>
                            <md-list>
                                <md-list-item *ngFor="let attr of form.controls.attributes.controls; let i = index">

                                    <md-input [formControl]="attr" placeholder="Color"></md-input>
                                    <button md-mini-fab
                                            color="primary"
                                            (click)="deleteAttribute($event, i)">
                                        <md-icon>delete_forever</md-icon>
                                    </button>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                        <md-card-actions>
                            <button md-raised-button
                                    color="primary"
                                    [disabled]="!useCustomAttributes"
                                    (click)="addAttribute($event)">
                                Add attribute (color)
                            </button>
                        </md-card-actions>

                    </md-card>
                </div>

            </div>
        </form>
    </md-card-content>
    <md-card-actions>
        <div class="row center-xs">
            <div class="col-xs-2">
                <button md-fab [color]="justSaved ? 'primary' : 'accent'" type="submit" [disabled]="!form.valid" (click)="save()">
                    <md-icon>{{ justSaved ? "done": "save"}}</md-icon>
                </button>
            </div>
            <div class="col-xs-2 col-xs-offset-8">
                <button *ngIf="product.id" md-fab color="warn" (click)="delete($event)">
                    <i class="material-icons">delete_forever</i>
                </button>
            </div>
        </div>


    </md-card-actions>
</md-card>

<div class="row center-xs" >
    <div class="col-xs-12
                col-sm-6
                col-md-4
                col-lg-3">
        <button md-fab  (click)="applyProduct()">
            <md-icon>refresh</md-icon>
        </button>
    </div></div>
<div class="row center-xs" >
    <div class="col-xs-12
                col-sm-6
                col-md-4
                col-lg-3">
        <app-product-block [item]="product" [lazyImages]="false"></app-product-block>
    </div>
</div>