<md-sidenav-layout>
    <md-sidenav #sidenav mode="side">
        <md-list>
            <md-list-item> Pepper</md-list-item>
            <md-list-item> Salt</md-list-item>
            <md-list-item>
                <md-icon> notifications_off</md-icon>
                <span> Disable alerts </span>
            </md-list-item>

        </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon class="md-24">menu</md-icon>
        </button>
        <a md-button routerLink="/">Madam Scrap</a>
        <span flex></span>
        <button md-icon-button routerLink="/">
            <md-icon class="md-24">home</md-icon>
        </button>

        <button *ngIf="!isGuest" md-button routerLink="/orders">Orders</button>
        <section *ngIf="!isGuest" class="msc-badge-button">
            <button md-icon-button routerLink="/cart/current">
                <md-icon>shopping_cart</md-icon>
            </button>
            <!--<span [routerLink]="['./Cart', {uuid:'current'}]" *ngIf="basket.count" class="msc-badge-button__text">{{basket.count}}</span>-->
        </section>
        <button *ngIf="isAdmin" md-icon-button routerLink="/product-edit/new">
            <md-icon>add</md-icon>
        </button>
        <button *ngIf="isGuest" md-icon-button routerLink="/login">
            <md-icon>person</md-icon>
        </button>
        <button *ngIf="!isGuest" md-icon-button routerLink="/profile/me">
            <md-icon>person</md-icon>
        </button>

    </md-toolbar>
    <div class="app-content">
        <h1>
            {{title}}
        </h1>
        <nav>
            <a routerLink="/">Main</a>
            <a routerLink="/registration">Registration</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/cart/1">Cart</a>
            <a routerLink="/product/1">Product</a>
            <a routerLink="/profile/1">Profile</a>
            <a routerLink="/product-edit/1">Product Edit</a>
        </nav>

        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>



