<md-sidenav-layout>
    <md-sidenav #sidenav mode="side">
        <md-list>
            <md-list-item> Pepper</md-list-item>
            <md-list-item> Salt</md-list-item>
            <md-list-item>
                <md-icon> notifications_off</md-icon>
                <span> Disable alerts </span>
            </md-list-item>

        </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <!--<button md-icon-button (click)="sidenav.toggle()">-->
            <!--<md-icon class="md-24">menu</md-icon>-->
        <!--</button>-->
        <button md-icon-button routerLink="/">
            <md-icon>home</md-icon>
        </button>
        <!--<button md-icon-button routerLink="/">Madam Scrap</button>-->
        Madam Scrap

        <button *ngIf="isAdmin" md-icon-button routerLink="/orders">
            <md-icon>assignment</md-icon>
        </button>

        <section *ngIf="!isGuest" class="msc-badge-button">
            <button md-icon-button routerLink="/cart/current">
                <md-icon>shopping_cart</md-icon>
                <span routerLink="/cart/current" *ngIf="cart.count" class="msc-badge-button__text">{{cart.count}}</span>
            </button>
        </section>
        <button *ngIf="isGuest" md-icon-button routerLink="/login">
            <md-icon>person</md-icon>
        </button>
        <button *ngIf="!isGuest" md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>person</md-icon>
        </button>

        <md-menu x-position="before" #menu="mdMenu">
            <button md-menu-item routerLink="/profile/me">
                <md-icon>person</md-icon>
                <span> My Profile</span>
            </button>
            <button md-menu-item routerLink="/cart/current">
                <md-icon>shopping_cart</md-icon>
                <span> My Cart ({{cart.count}})</span></button>
            <button md-menu-item routerLink="/orders">
                <md-icon>assignment</md-icon>
                <span> My Orders</span>
            </button>
            <!--<button md-menu-item (click)="logout()" color="warn">-->
                <!--<md-icon>exit_to_app</md-icon>-->
                <!--<span> Logout</span>-->
            <!--</button>-->
        </md-menu>

    </md-toolbar>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <md-toolbar>
            <div class="row end-xs">
                <div class="col">
                    <span class="footer__item">&copy; Madam Scrap</span>
                    <span class="footer__item">
                        Made in Germany
                        <!--by <a href="https://www.linkedin.com/in/urakozz" target="_blank">@urakozz</a>-->
                    </span>
                </div>
            </div>
        </md-toolbar>
    </footer>
</md-sidenav-layout>


<span class="app-action" *ngIf="isAdmin">
  <button md-fab routerLink="/product-edit/new"><md-icon>add circle</md-icon></button>
</span>



