.msc-home-text {
  position: relative;
  bottom: -2px;
}

.msc-badge-button {
  position: relative;
  &__text {
    position: absolute;
    top: 0;
    right: -5px;
    background-color: rgba(255, 215, 64, 0.85);
    border-radius: 50%;
    width: 22px;
    height: 21px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    padding-bottom: 1px;
    line-height: 25px;
  }
}

.msc-login-name {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  bottom: -10px;
}

footer {
  md-toolbar:not(.md-menu-toolbar) {
    background-color: #f5f5f5;
    color: #999;
    font-size: 10px;
    [md-icon] {
      color: #999;
      font-size: 16px;
    }
    a {
      color: #999;
      text-decoration: none;
      &:hover {
        color: #777;
        [md-icon] {
          color: #777;
        }
      }
    }
    .footer__item {
      padding-left: 10px;
      font-size: 13px;
    }
  }

}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-content {
  min-height: calc(100vh - 148px);
}

md-toolbar {
  position: fixed;
  z-index: 2;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.app-content{
  padding-top:64px;
}