<form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
        <md-input required lowercase
                  formControlName="name"
                  autocomplete="off"
                  placeholder="Email / Login"></md-input>
        <div *ngIf="form.controls.name.touched && form.controls.name.errors">
            <div *ngIf="form.controls.name.hasError('required')">
                Login is required.
            </div>
        </div>
    </div>

    <div class="form-group">
        <md-input required
                  formControlName="password"
                  autocomplete="off"
                  type="password"
                  placeholder="Password"></md-input>
        <div *ngIf="form.controls.password.touched && form.controls.password.errors">
            <div *ngIf="form.controls.password.hasError('required')">
                Password is required.
            </div>
            <div *ngIf="form.controls.password.hasError('invalid')">
                Password is invalid.
            </div>
        </div>
    </div>

    <div class="form-group">
        <div *ngIf="!loading">
            <button md-raised-button class="md-raised md-primary" type="submit" [disabled]="!form.valid">
                <span i18n >Login</span>
            </button>
        </div>
    </div>
    <md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

</form>
