<md-card>
    <md-card-header>
        <md-card-title>
            <span i18n *ngIf="signup">Registration</span>
            <span i18n *ngIf="!signup">Login</span>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <section *ngIf="!signup">
            <app-login-block></app-login-block>
            <p>
                <span i18n>Do not have an account yet? Let's register</span>&nbsp;
                <a i18n href="javascript:void(0)" (click)="signup = !signup">now</a>!
            </p>
        </section>
        <section *ngIf="signup">
            <app-registration-block></app-registration-block>
            <p>
                <span i18n >Already have an account? Let's login</span>&nbsp;
                <a i18n href="javascript:void(0)" (click)="signup = !signup">now</a>!
            </p>
        </section>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="dialog.close(false)">
            <span i18n>Cancel</span>
        </button>
    </md-card-actions>
</md-card>