@import "~flexboxgrid/dist/flexboxgrid.css";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
md-card.msc-v-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
md-card.msc-h-margin {
    margin-left: 10px;
    margin-right: 10px;
}
.msc-full-width {
    width: 100%;
}

.msc-app-spinner {
    height: 30px;
    width: 30px;
    display: inline-block;
}
.msc-inherit-font{
    font-size: inherit;
}
.msc-cursor-pointer{
    cursor: pointer;
}
.msc-icon-middle{
    vertical-align: middle;
}
.msc-link-block{
    text-decoration: none;
    color:inherit;
}
